{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = 'stylesheet' href = "{%static 'style.css'%}">
</head>
<body>
    <div class="container">
        <img src="{% static 'phys.jpg' %}" alt="Physics" style="border-radius:1%">
        <h1 class="page-header">Welcome to B.Sc</h1>
        {%for q in data%}
      <p class= "para">{{q.content}}</p>
	  {%endfor%}
        <div>
            <a href="{%url 'phys_home'%}"><button  class= "BUTTON_PMG"> Phys_dep </button></a>
            <a href="{% url 'college_home'%}"><button  class= "BUTTON_PMG"> Home </button></a>
        </div>
    </div>
</body>
</html>

